.cont {
    background-color: white;
    .req-cont {
        margin-left: 45px !important;
        margin: 10px;
        i {
            margin-top: 15px;
        }
        a {
            margin-left: 20px;
        }
        input {
            outline: none;
        }
    }
}
.collection {
    margin-top: 0px !important;
}
.but-cont {
    margin-top: -32px !important;
    .btn {
        margin: 0px;
        height: 20px;
        margin-top: 10px;
    }
}